{% extends 'navbar.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<link href="{{asset('/css/theme.css')}}" rel="stylesheet" media="all">    
{% endblock %}
{% block contenuPrincipal %}
    {{ parent() }}

<section id="testimonials" class="testimonials text-center">
            <div class="container">
                <h2 class="mb-5">Categories of the Month</h2>

                <div class="row">
                    <article class="col-lg-4">
                        <figure class="mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="https://images.unsplash.com/photo-1583312572805-32ece488eb6e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                            <figcaption>
                                <h3 class="h3">Watches</h3>
                                <button type="button" class="btn btn-success">Go Shop</button>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="col-lg-4">
                        <figure class="mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="https://images.unsplash.com/photo-1491553895911-0055eca6402d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8c2hvZXN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                            <figcaption>
                                <h3 class="h3">Shoes</h3>
                                <button type="button" class="btn btn-success">Go Shop</button>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="col-lg-4">
                        <figure class="mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="https://images.unsplash.com/photo-1511499767150-a48a237f0083?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                            <figcaption>
                                <h3 class="h3">Accessories</h3>
                                <button type="button" class="btn btn-success">Go Shop</button>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </section>
    	
    
{% endblock %}